<p>Olá, você está recebendo isso porque você solicitou a redefinição de senha da sua conta.<p>

<p>Seu código para recuperar a senha é: <b>{{ token }}</b><p>

<p>Se não foi você que solicitou, ignore este e-mail.<p>